.block {
    border: 1px solid white;
        margin-bottom: 20px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        width: 250px;
}
.list {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
}
.button {
    background-color: brown;
}